# Flutter / Android
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java
.cxx/

# Gradle cache
**/gradle-wrapper.jar
build/
.dart_tool/
.packages
.pub-cache/

# Python
venv/
.venv/
env/
__pycache__/
*.pyc

# Security
key.properties
**/*.keystore
**/*.jks
